*{
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
}
html{
    --body-bg: #E2E2E2;
    --comodoar-bg: #d9d9d9;
    --header-bg: #f1f1f1;
    --body-color: #000000;
}

main{
    font-family: 'Poppins';
    background-color: var(--body-bg) ;
}

header{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

@font-face{
    font-family: 'Poppins';
    src: url(./fontes/Poppins/Poppins-Regular.ttf) ;
}

/*-----------------CSS da header bootstrap-----------------*/

#doe_agr{
    text-decoration: none;
    color: red;
}
#doe_agr:hover{
    color: #fff;
}
.navbar-brand:hover{
    color: red;
}

.nav-link{
    font-family: 'Poppins';
    font-size: 19px;
    margin-right: 13px;
    color: var(--body-color);
    padding-top: 9px;
}

.nav-link:hover{
    color: red;
}


element.style {
    color: #FF0000;
    border-color: #FF0000;
    width: 150px;
}

.btn-outline-success {
    width: 160px;
    --bs-btn-color: red;
    --bs-btn-border-color: red;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: red;
    --bs-btn-hover-border-color: red;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: red;
    --bs-btn-active-border-color: red;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: red;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: red;
    --bs-gradient: none;
}
/*-----------------COMO DOAR-----------------*/

#img_como_doar{
    position: relative;
    background-color: var(--Comodoar-bg);
    margin-top: 70px;
    width: 100%;
    height: 470px;
    background-image: url(./img_index/BG-rosto.png);
    background-repeat: no-repeat;
    background-position: right;
}
#como_doar{
    position: relative;
    width: 480px;
    height: 200px;
    background-color: red;
    border-radius: 182px;
    font-size: 60px;
    font-family: 'Poppins';
    color: #eaeaea;
    border:none;
    font-weight: 600;
    margin-top: 120px;
    margin-left: 130px;
}
#como_doar:hover{
    box-shadow: 5px 5px 0 0 rgb(112, 112, 112),7px 7px 0 0 rgba(112, 112, 112, 0.814), 9px 9px 0 0 rgba(112, 112, 112, 0.702);
    font-size: 62px;
    transition: all 1s;
}

/*-----------------ACESSIBILIDADE-----------------*/

#acessibilidade{
    position: fixed;
    width: 90px;
    height: 50px;
    background-color: #010101;opacity: .7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px 0px 0px 10px;
    margin-top: 50px;
    right: 0;
    top: 75px;
    z-index: 1;
}

label{
    width: 70px;
    height: 40px;
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px  rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;
}
label::after{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    background:linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 15px rgba(255,255,255,0.2);
    transition: 0.3s;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: var(--header-bg) !important;
} 

#modo_escuro{
    width: 50px;
    height: 50px;
}
#darkmode-toggle{
    width: 0;
    height: 0;
    visibility: hidden;
}
#darkmode-toggle:checked + label{
    background-color: #242424;
}
#darkmode-toggle:checked + label:after{
    left: 8px;
    transform: translateX(100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}
label:active:after{
    width: 30px;
}

/*-----------------SOBRE NÓS-----------------*/

#sobre-nos{
    position: relative;
    width: 100%;
    height: 510px;
    background-image: url(./img_index/img_sobre_nos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre-nos h1{
    font-family: 'Poppins';
    font-size: 60px;
    color: white;
    font-weight: 600;
    padding-top: 40px;
}

#sobre-nos p{
    width: 80%;
    font-family: 'Poppins';
    font-size: 24px;
    color: white;
    /* padding-left: 60px; */
    padding-top: 90px;
}

/*-----------------AGENDAMENTO-----------------*/

#agendamento{
    position: relative;
    background-color: var(--comodoar-bg);
    width: 100%;
    height: 470px;
    background-image: url(./img_index/BG-corpo2.png);
    background-repeat: no-repeat;
    background-position: right;
}
#agendamento button{
    position: absolute;
    width: 580px;
    height: 230px;
    background-color: red;
    border-radius: 182px;
    text-align: center;
    font-size: 60px;
    font-family: 'Poppins';
    color: #eaeaea;
    border:none;
    font-weight: 600;
    margin-top: 120px;
    margin-left: 130px;
}
#agendamento button:hover{
    box-shadow: 5px 5px 0 0 rgb(112, 112, 112),7px 7px 0 0 rgba(112, 112, 112, 0.814), 9px 9px 0 0 rgba(112, 112, 112, 0.702);
    font-size: 62px;
    transition: all 1s;
}

#estoque_e_informes{
    position: relative;
    height: 600px;
    width: 100%;
    background-color: var(--body-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
/*-----------------CSS da caixa sobre estoque de sangue-----------------*/
#sangue{
    width: 40%;
    height: 400px;
    background-image: linear-gradient(to bottom right, #276EB0, #185366 );
    border-radius: 8px;
}
#sangue h1{
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
}
#tipos_positivos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tipo_de_sangue{
    width: 120px;
    height: 100px;
    float: left;
}
.img_tipo_de_sangue{
    width: auto;
    height: 90px;
}
.p_tipo_de_sangue{
    text-align: center;
    color: white;
    font-weight: 600;
}
#tipos_negativos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin-bottom: 30px;

}
#niveis_sangue{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid white;
}
#estavel{
    width: 150px;
    height: 60px;
}
#estavel img{
    height: 60px;
    width: auto;
}
#estavel p{
    color: white;
    float: right;
    padding-top: 20px;
    padding-right: 10px;
}
#alerta{
    width: auto;
    height: 60px;
}
#alerta img{
    height: 60px;
    width: auto;
}
#alerta p{
    color: white;
    float: right;
    padding-top: 20px;
    padding-right: 10px;
}
#critico{
    width: auto;
    height: 60px;
}
#critico img{
    height: 60px;
    width: auto;
}
#critico p{
    color: white;
    float: right;
    padding-top: 20px;
    padding-right: 10px;
}
#att{
    color: white;
    text-align: center;
    padding-top: 15px;
}

/*-----------------CSS  da caixa de informes-----------------*/

#informes{
    width: 40%;
    height: 400px;
    background-color: #40873F;
    border-radius: 8px;
}
#informes h1{
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
}
#datas_informes{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
.p_informes{
    color: #fff;
    width: 28.7%;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    padding: 7px 21.5px;
    margin-top: 10px;
    margin-left: 18.5px;
    background-color: #464646;
}
#compilado_de_informes{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.Link_img{
    text-decoration: none;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}
.imagens_informes{
    height: 240px;
    width: 28.7%;
    margin-left: 18.5px;
}
.img_info{
    width: 100%;
    height: 100%;
}
.texto_da_img{
    position: absolute;
    height: 100%;
    padding-top: 50px;
    padding-left: 10px;
    bottom: -16px;
    color: #fff;
    text-decoration: none;
    background-color: #0000006a;
    opacity: 0;
    transition: all .2s;
}
.texto_da_img:hover{
    opacity: 1;
    transition: all .5s;
}

/*-----------------SEÇÂO DO GOVERNO-----------------*/

#section_gov{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    color: var(--body-color);
}
#aviso_gov{
    width: 310px;
    height: 200px;
    margin: 0 auto;
}
#aviso_gov img{
    text-align: center;
    width: 100%;
    height: 100%;
}
#section_gov p{
    width: 40%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

/*-----------------FOOTER-----------------*/

footer{
    width: 100%;
    height: 400px;
    background-color: #392D2D;
}
footer a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    color: #09f;
    transition: all 0.4s;
}
#logo_footer{
    width: auto;
    height: 70px;
    margin-top: 15px;
    margin-left: 20px;
}
#links_footer_top{
    width: 70%;
    height:50%;
    float: right;
    display: flex;
}
#sobre-nos_footer{
    width: 250px;
    height: 150px;
    text-align: left;
    color: white;
    margin-top: 50px;   
}
#sobre-nos_footer a{
    margin-top: 18px !important;
}

#inicio_footer{
    width: 250px;
    height: 150px;
    text-align: left;
    color: white;
    margin-top: 50px;   
}
#inicio_footer a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
#inicio_footer a:hover{
    color: #09f;

}
#fale_conosco{
    width: 250px;
    height: 150px;
    text-align: left;
    color: white;
    margin-top: 50px;   
}
#links_footer_bottom{
    width: 70%;
    height:50%;
    float: right;
    display: flex;
}
#imprensa{
    width: 340px;
    height: 150px;
    text-align: left;
    color: white;
}
#redes_sociais{
    width: 250px;
    height: 150px;
    text-align: left;
    color: white;
    margin-left: 150px;
}
#redes_sociais img{
    height: 50px;
    width: auto;
    cursor: pointer;
    border-radius: 10px;
}
#redes_sociais img:hover{
    background-color: #185366;
}
@media only screen and (max-width:776px){
    #img_como_doar{
        width: 100vw;
        height: 50vh;
        background-size: contain;
    }
   
    #como_doar{
        position: absolute;
        width: 40vw;
        height: 20vh;
        font-size: 35px;
        margin: 0;
        left: 0;
        top: 80px;
    }

    #sobre-nos{
        width: 100vw;
        height: 90vh;
        background-size: cover;
    }

    #sobre-nos p{
        padding-top: 20px;
        font-size: 20px;
        text-align: center;
    }

    #agendamento{
        width: 100vw;
        height: 50vh;
        background-size: contain;
    }
   
    #agendamento button{
        position: absolute;
        width: 50vw;
        height: 20vh;
        font-size: 35px;
        margin: 0;
        left: 0;
        top: 80px;
    }

    #estoque_e_informes {
        position: relative;
        height: 180vh;
        width: 100vw;
        background-color: var(--body-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #sangue{
        width: 80vw;
        height: 65vh;
    }

    #informes{
        width: 90vw;
        height: 60vh;
    }

    #section_gov p{
        width: 80vw;
    }

    footer{
        height: 160vh;
    }

    #links_footer_top{
        display: flex;
        flex-direction: column;
    }

    #links_footer_bottom{
        display: flex;
        flex-direction: column;
    }

    #redes_sociais{
        margin: 0;
    }
}