* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
}
html{
    --body-bg: #E2E2E2;
    --comodoar-bg: #d9d9d9;
    --header-bg: #f1f1f1;
    --body-color: #000000;
}

main {
    font-family: 'Poppins';
    background-color: var(--body-bg);
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

@font-face {
    font-family: 'Poppins';
    src: url(./fontes/Poppins/Poppins-Regular.ttf);
}


/* CSS da header bootstrap */

.navbar-brand:hover {
    color: rgb(231, 0, 0);
}

.nav-link {
    font-family: 'Poppins';
    font-size: 19px;
    margin-right: 13px;
    color: var(--body-color);
    padding-top: 9px;
}

.nav-link:hover {
    color: rgb(231, 0, 0);
}

element.style {
    color: rgb(231, 0, 0);
    border-color: rgb(231, 0, 0);
    width: 150px;
}

.btn-outline-success {
    width: 160px;
    --bs-btn-color: red;
    --bs-btn-border-color: red;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: red;
    --bs-btn-hover-border-color: red;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: red;
    --bs-btn-active-border-color: red;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: red;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: red;
    --bs-gradient: none;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: var(--header-bg) !important;
} 

/* ----------------- HEMOCENTRO ---------------- */

#hemocentro {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 400px;
    margin-top: 75px;
}
#img_hemocentro{
    width: 100%;
    height: 100%;
    opacity: 65%;
}

#hemocentro-titulo {
    position: absolute;
    top: 20px;
    left: 100px;
    color: red;
    text-align: center;
    text-shadow: 
        -1.5px -1.5px 0px #000,
        -1.5px 1.5px 0px #000,
        1.5px -1.5px 0px #000,
        1.5px 0px 0px #000;
}
#hemocentro-titulo h1{
    font-size: 80px;
    font-weight: bold;
}

#hemocentro-explicacao {
    position: absolute;
    width: 70%;
    height: auto;
    top: 150px;
    left: 180px;
    color: rgb(13, 217, 239);
    font-size: 20px;
    font-weight: bold;
}
#hemocentro-explicacao p{
    text-shadow: 
        -1.0px -1.0px 0px rgb(0, 0, 0),
        -1.0px 1.0px 0px rgb(0, 0, 0),
        1.0px -1.0px 0px rgb(0, 0, 0),
        1.0px 0px 0px rgb(0, 0, 0);
}
/* ------------------ Conteudo principal --------------------- */

#contprinc{
    width: 88%;
    margin: 0 auto;
}
#PDC{
    padding-top: 30px;
    height: auto;
    width: auto;
    text-align: center;
}
#PDC_titulo{
    font-size: 50px;
    font-weight: 600;
}

#primeiro_acc{
    margin-top: 3%;
}
#ultima_acc{
    margin-bottom: 3%;
}

.tit_naopode{
    margin-top: 2px;
    color: #000;
    background-color: #3ea5e9;
    width: 100%;
    padding: 5px 2% 0 6%;
    text-align: left;
    transition: 0.4s;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    
}
.tit_naopode h5{
    font-size: 25px;
    font-weight: 500;
}

.tit_naopode:after {
    content: '\002B';
    color: #fff;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
    color: white;
  }
.tit_naopode:hover{
    filter: brightness(110%);
}

.naopode_cont{
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
    background-color: #837b7b;
    color: #FFF;
}
.condicoes{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 2px solid #97938d;
    padding-top: 1%;
}
.condicoes .itens{
    width: 100%;
    display: flex;
    align-items: center;
}
.condicoes .itens p{
    padding-top: 1%;
    padding-left: 5%;
    font-size: 20px;
}
.condicoes .itens_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.condicoes .itens_img img{
    width: 100%;
    height: 100%;
}

#acessibilidade{
    position: fixed;
    width: 90px;
    height: 50px;
    background-color: #010101;opacity: .7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px 0px 0px 10px;
    margin-top: 50px;
    right: 0;
    top: 75px;
    z-index: 1;
}

label {
    width: 70px;
    height: 40px;
    position: relative;
    display: block;
    background-color: #aaaaaa;
    border-radius: 100px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

label::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

#modo_escuro {
    width: 50px;
    height: 50px;
}

#darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

#darkmode-toggle:checked+label {
    background-color: #242424;
}

#darkmode-toggle:checked+label:after {
    left: 8px;
    transform: translateX(90%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active:after {
    width: 30px;
}


/* =================== Footer ===================== */

footer{
    width: 100%;
    height: 400px;
    background-color: #392D2D;
}
footer a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    color: #09f;
    transition: all 0.4s;
}
#logo_footer{
    width: auto;
    height: 70px;
    margin-top: 15px;
    margin-left: 20px;
}
#links_footer_top{
    width: 70%;
    height:50%;
    float: right;
    display: flex;
}
#sobre-nos_footer{
    width: 250px;
    height: 150px;
    text-align: left;
    color: white;
    margin-top: 50px;   
}
#sobre-nos_footer a{
    margin-top: 18px !important;
}

#inicio_footer{
    width: 250px;
    height: 150px;
    text-align: left;
    color: white;
    margin-top: 50px;   
}
#inicio_footer a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
#inicio_footer a:hover{
    color: #09f;

}
#fale_conosco{
    width: 250px;
    height: 150px;
    text-align: left;
    color: white;
    margin-top: 50px;   
}
#links_footer_bottom{
    width: 70%;
    height:50%;
    float: right;
    display: flex;
}
#imprensa{
    width: 340px;
    height: 150px;
    text-align: left;
    color: white;
}
#redes_sociais{
    width: 250px;
    height: 150px;
    text-align: left;
    color: white;
    margin-left: 150px;
}
#redes_sociais img{
    height: 50px;
    width: auto;
    cursor: pointer;
    border-radius: 10px;
}
#redes_sociais img:hover{
    background-color: #185366;
}
@media only screen and (max-width:776px){
    #hemocentro {
        height: 250px;
        margin-top: 75px;
    }
    #hemocentro-titulo h1{
        font-size: 50px;
        font-weight: bold;
    }
    #hemocentro-titulo {
        position: absolute;
        top: 20px;
        left: 50px;
        text-align: center;
    }
    #hemocentro-explicacao {
        top: 120px;
        left: 100px;
        font-size: 15px;
        font-weight: bold;
    }
    #PDC_titulo{
        font-size: 30px;
        font-weight: 600;
    }
    .tit_naopode h5{
        font-size: 20px;
        font-weight: 500;
    }
    .condicoes .itens p{
        padding-left: 0;
        font-size: 16px;
        align-items: left;
    }
    .condicoes .itens{
        align-items: left;
        flex-direction: column;
        height: auto;
    }
    .gmap_iframe{
        width: 90%;
    }


    footer{
        height: 160vh;
    }

    #links_footer_top{
        display: flex;
        flex-direction: column;
    }

    #links_footer_bottom{
        display: flex;
        flex-direction: column;
    }

    #redes_sociais{
        margin: 0;
    }
}